<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<jmxConfigurator />
	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
   			 <pattern>
   			 	%date{yyyy/MM/dd HH:mm:ss} [%thread] %-5level %logger{80} - %msg%n
   			 </pattern>
			 <charset>UTF-8</charset>
  		</encoder>
	</appender>
	
	<appender name="logCTFileInfo"
	  class="ch.qos.logback.core.rolling.RollingFileAppender">
	  <filter class="ch.qos.logback.classic.filter.LevelFilter"> 
	 	<level>INFO</level> 
		<onMatch>ACCEPT</onMatch> 
		<onMismatch>DENY</onMismatch> 
		</filter>
	  <rollingPolicy
	   class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
	   <FileNamePattern>
	    E:/CherryBatchLogs/%d{yyyy-MM-dd}_CtINFO.log
	   </FileNamePattern>
	  </rollingPolicy>
	  <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
  			 <pattern>
  			 	%date{yyyy/MM/dd HH:mm:ss} [%thread] %-5level %logger{80} - %msg%n
  			 </pattern>
		 <charset>UTF-8</charset>
 		  </encoder>
	 </appender>

	<appender name="catAppender"
			  class="com.cherry.monitor.CatLogbackAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>
				%date{yyyy/MM/dd HH:mm:ss} [%thread] %-5level %logger{80} - %msg%n
			</pattern>
			<charset>UTF-8</charset>
		</encoder>

	</appender>
	 <appender name="logCTFileError"
	  class="ch.qos.logback.core.rolling.RollingFileAppender">
	  <filter class="ch.qos.logback.classic.filter.LevelFilter"> 
	 	<level>ERROR</level> 
		<onMatch>ACCEPT</onMatch> 
		<onMismatch>DENY</onMismatch> 
		</filter>
	  <rollingPolicy
	   class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
	   <FileNamePattern>
	    E:/CherryBatchLogs/%d{yyyy-MM-dd}_CtERROR.log
	   </FileNamePattern>
	  </rollingPolicy>
	  <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
  			 <pattern>
  			 	%date{yyyy/MM/dd HH:mm:ss} [%thread] %-5level %logger{80} - %msg%n
  			 </pattern>
		 <charset>UTF-8</charset>
 		  </encoder>
	 </appender>
		 
	<appender name="logInfoFile"
		  class="ch.qos.logback.core.rolling.RollingFileAppender">
		  <filter class="ch.qos.logback.classic.filter.LevelFilter"> 
		 	<level>ERROR</level> 
			<onMatch>DENY</onMatch> 
			<onMismatch>ACCEPT</onMismatch> 
		</filter>
		  <rollingPolicy
		   class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
		   <FileNamePattern>
		    E:/CherryBatchLogs/%d{yyyy-MM-dd}_BatchINFO.log
		   </FileNamePattern>
		  </rollingPolicy>
		  <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
   			 <pattern>
   			 	%date{yyyy/MM/dd HH:mm:ss} [%thread] %-5level %logger{80} - %msg%n
   			 </pattern>
			 <charset>UTF-8</charset>
  		  </encoder>
		 </appender>
		 
		 <appender name="logErrorFile"
		  class="ch.qos.logback.core.rolling.RollingFileAppender">
		  <filter class="ch.qos.logback.classic.filter.LevelFilter"> 
		 	<level>ERROR</level> 
			<onMatch>ACCEPT</onMatch> 
			<onMismatch>DENY</onMismatch> 
		</filter>
		  <rollingPolicy
		   class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
		   <FileNamePattern>
		    E:/CherryBatchLogs/%d{yyyy-MM-dd}_BatchERROR.log
		   </FileNamePattern>
		  </rollingPolicy>
		  <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
   			 <pattern>
   			 	%date{yyyy/MM/dd HH:mm:ss} [%thread] %-5level %logger{80} - %msg%n
   			 </pattern>
			 <charset>UTF-8</charset>
  		  </encoder>
		 </appender>
		 
	<logger name="com.cherry.ct" additivity="false">
		<level value="INFO" />
		<appender-ref ref="logCTFileInfo" />
		<appender-ref ref="logCTFileError" />
	</logger>
	<logger name="com.cherry" additivity="false">
		<level value="INFO" />
		<appender-ref ref="logInfoFile" />
		<appender-ref ref="logErrorFile" />
	</logger>
	<logger name="org.hibernate" additivity="false">
		<level value="WARN" />
		<appender-ref ref="logInfoFile" />
		<appender-ref ref="logErrorFile" />
	</logger>
	<logger name="java.sql" additivity="false">
	    <level value="INFO" />
	    <appender-ref ref="logInfoFile" />
		<appender-ref ref="logErrorFile" />
	</logger>
	<logger name="org.apache.struts2" additivity="false">
		<level value="ERROR" />
		<appender-ref ref="logInfoFile" />
		<appender-ref ref="logErrorFile" />
	</logger>
	<logger name="com.opensymphony.xwork2" additivity="false">
		<level value="ERROR" />
		<appender-ref ref="logInfoFile" />
		<appender-ref ref="logErrorFile" />
	</logger>
	<logger name="com.opensymphony.xwork2.ognl.OgnlValueStack" additivity="false">
		<level value="ERROR" />
		<appender-ref ref="logInfoFile" />
		<appender-ref ref="logErrorFile" />
	</logger>
	<logger name="com.opensymphony.xwork2.interceptor.ExceptionMappingInterceptor" additivity="false">
		<level value="ERROR" />
		<appender-ref ref="logInfoFile" />
		<appender-ref ref="logErrorFile" />
	</logger>
	<logger name="freemarker" additivity="false">
		<level value="ERROR" />
		<appender-ref ref="logInfoFile" />
		<appender-ref ref="logErrorFile" />
	</logger>
	<logger name="com.opensymphony.workflow" additivity="false">
		<level value="ERROR" />
		<appender-ref ref="logInfoFile" />
		<appender-ref ref="logErrorFile" />
	</logger>
	<logger name="org.logicalcobwebs.proxool" additivity="false">
		<level value="ERROR" />
		<appender-ref ref="logInfoFile" />
		<appender-ref ref="logErrorFile" />
	</logger>
	<root>
		<level value="INFO" />
		<appender-ref ref="logInfoFile" />
		<appender-ref ref="logErrorFile" />
		<appender-ref ref="catAppender" />
	</root>
</configuration>

