
/* css for timepicker */

.ui-timepicker-div .ui-widget-header { margin-bottom: 5px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px;padding-left:10px; background: none repeat scroll 0 0 #FFFEEA; border-bottom: 1px dashed #CCCCCC; display:none;}
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

#ui-datepicker-div {
	border: 1px solid #FAD163;
	margin-top:1px;
}
.ui-slider-horizontal {
    background: none repeat scroll 0 0 #CCCCCC;
    height: 5px;
}

dd.ui_tpicker_time {
	text-align:center;
	font-size:20px;
	color: #333;
	margin:10px;
}

.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
    background: none repeat scroll 0 0 #FFDD57;
    border: 1px solid #A45B13;
    float: left;
    opacity: 100;
}

.ui-datepicker .ui-datepicker-buttonpane button {
    font-weight: normal;
}

.ui-slider-horizontal .ui-slider-handle {
	border-radius: 10px;
	width: 1em;
	height:1em;
	cursor:pointer;
}
dd.ui_tpicker_hour,dd.ui_tpicker_minute,dd.ui_tpicker_second {
	margin:20px 10px;
}
