

.text-number{
	border-collapse:collapse;
	border-style:1 1 solid;	
	text-indent:10px;
	white-space:nowrap;
	size:5;
	size:5;
	text-align:right;
}
.tableheader{
	background:url("img/bg_sorting.gif") repeat-x scroll 0 0 transparent;
	border-bottom:1px solid #FAD163;
	border-right:1px solid #FAD163;
	border-color:-moz-use-text-color #D6D6D6 #CCCCCC #FFFFFF;
	border-left:1px solid #FFFFFF;
	border-style:none solid solid;
	border-width:medium 1px 1px;
	height:20px;
	padding:2px 5px;
	white-space:nowrap;
	text-align:center;
}
.errTRbgColor{
	background:#FFECEC
}
.warningTRbgColor{
	background:#eeffd9
}
/**����ɹ���DIVʹ�õ���ʽ*/
.actionSuccess{
	background:url("../common/blueprint/images/success.png") no-repeat scroll 6px center #E1F29B;
	border-bottom:1px solid #009900;
	border-top:1px solid #009900;
	padding-left:45px;
	display:block;
	color:#009900;
	font-size: 13px;
	font-weight: bold;
}
.workFlowSuccess {
    background: url("../common/blueprint/images/success.png") no-repeat transparent;
	color: #090;
	display: block;
	font-size: 13px;
	padding-left: 45px;
	width: 32px;
	height: 32px;
	margin: 10px 0 10px 20px;
	line-height: 32px;
}
.actionSuccess ul {
	/*border-left:1px solid #009900; */
	padding: 10px; 
	list-style:none; 
	text-align:left;
}
.actionError{
	background: url("../common/blueprint/images/error_1.png") no-repeat scroll 6px center #FFFDFC;
    border-bottom: 1px solid #FF6D06;
    border-top: 1px solid #FF6D06;
    color: #FF6D06;
    display: block;
    padding-left: 45px;
    font-size: 13px;
	font-weight: bold;
}
.actionError ul {
	/*border-left: 1px solid #FAD163;*/
    list-style: none outside none;
    padding: 10px;
    text-align: left;
}
.cherrylablL{
	color:#333333;
	display:inline-block;
	margin-right:5px;
	vertical-align:middle;
	text-align:left;
}

.div-layout-all {
	height: 700px; background: none repeat scroll 0 0 #FFFFFF \9; border-left: 1px solid #CCCCCC \9; border-right: 1px solid #CCCCCC \9;
}
.ui-layout-resizer {
	background-color: #D5D5D5;
}
.ui-layout-toggler {
	background-color: #AAAAAA;
}
.ui-layout-west {
	overflow: auto;
	padding: 10px;
}
.ui-layout-center {
	overflow: auto;
	padding: 10px;
}
.sorted-asc,
.sorted-desc {
	background: url("img/bg_sorting.gif") repeat-x scroll 0 0 transparent;
    border-bottom: 1px solid #FAD163;
    border-right: 1px solid #FAD163
}
.alignRight{
	text-align:right;
}

#reportTableDiv {overflow: auto;}
#reportTable th.red { background:#FFE5E5 url(images/bg_table_red.gif) bottom repeat-x; border-bottom:1px solid #FF9999; border-right:1px solid #FF9999; }
#reportTable th.green { background:#EBF5CC url(images/bg_table_green.gif) bottom repeat-x; border-bottom:1px solid #7FCC7F; border-right:1px solid #7FCC7F; }
#reportTable th.blue { background:#DFEFFF; border-bottom:1px solid #6CF; border-right:1px solid #6CF; }
#reportTable th.yellow{background:#FFF7D7; border-bottom:1px solid #FAD163; border-right:1px solid #FAD163;}
#reportTable td.red{background:#FFF5F5; border-bottom:1px solid #FF9999; border-right:1px solid #FF9999;}
#reportTable td.green{background:#F6FAE8; border-bottom:1px solid #7FCC7F; border-right:1px solid #7FCC7F;}
#reportTable td.blue{background:#E9F4FF; border-bottom:1px solid #6CF; border-right:1px solid #6CF;}
#reportTable td.yellow{background:#FFF7D7; border-bottom:1px solid #FAD163; border-right:1px solid #FAD163;}
#reportTable .red {color:#333333;font-weight:normal;}
#reportTable .green {color:#333333;font-weight:normal;}
#reportTable .blue {color:#333333;font-weight:normal;}
#reportTable tr.odd {background-color:#F5FAFF;}
#reportTable tr.even {background-color:#ECEFF4;}
#reportTable th {cursor:default;}
span.layout_checkbox1{color:#666666;cursor: pointer;}
span.layout_checkbox2{color:#000000;border: 1px solid #FF9999;cursor: pointer;}
ul.actionMessage span span{font-weight :bolder; margin: 0 3px 0 3px;}
ul.tips{list-style-type:disc;}
ul.tips li{margin: 5px 0;}
ul.tips span{font-weight :bolder; margin: 0 3px 0 3px; color:#009900;}
textarea{resize:none}
select{width:100px;}
.dataTables_length select{width:50px;}
span.calculator{background:url(img/calculator.png) no-repeat;cursor:pointer;width: 12px;height: 16px;display: inline-block;}
div.rateDialog{
	background: none repeat scroll 0 0 #FEF4AD;
    border: 1px solid #FAD163;
    height: 30px;
    padding: 2px 5px 0px 5px;
    position: absolute;
}
#headInfo span {margin-left: -10px;}

button.logon {margin-left:90px;}

table.all_clean{
	border: none;
	height: 20px;
}
table.all_clean td{
	border: none;
}
.list_normal {
    border: 1px solid #CCCCCC;
    border-radius: 5px 5px 5px 5px;
    display: block;
    float: left;
    padding: 0 8px;
}
table.background_1{
	background:#fff0a5;
}

#txtname, #txtpsdShow {/*��¼input����*/
	width:150px;
}

.memEventDataTable tr.selectedColor td {background:#fffcc2; color: #000;}
.memEventDataTable tr { cursor: pointer; }
.memEventDataTable tr.detail td.detail {
    padding: 10px;
    cursor: auto;
}
.memEventDataTable .section tr {
	cursor: auto;
}
.jquery_table tr.selectedColor td {background:#fffcc2; color: #000;}

.table_point{ 
	display: block;
	overflow-x: auto;
	width: 100%;
}
.td_point{
	white-space:normal;
}

/*input导入file控件样式兼容IE、谷歌、火狐*/
.input_text{width:250px;cursor:pointer;}
.input_file{width:310px; margin-left:-314px;height:30px;line-height:30px; filter:alpha(opacity=0); opacity:0;cursor:pointer;outline: none;}

.showSuccess{
	background:no-repeat scroll 6px center #E1F29B;
	border-bottom:1px solid #009900;
	border-top:1px solid #009900;
	padding-left:45px;
	display:block;
	color:#009900;
	font-size: 13px;
	font-weight: bold;
}
.showSuccess ul {
	/*border-left:1px solid #009900; */
	padding: 10px; 
	list-style:none; 
	text-align:left;
}
/*规则奖励样式*/
a.sort_bg {/*background:#fff url(img/sort_bg.gif) repeat-x;*/ margin-top:-2px; height:19px; min-width:350px;max-width:500px; color:#333; cursor: default; border:1px #98b954 solid; text-decoration: none !important;display: inline-block;vertical-align: middle;}
a.sort_bg input {height:14px;margin: 0 5px;}
.prompt_text { margin-left: 10px; color:#A0A0A0;font-weight:normal;}
.sortbox_head { background:#DAF1A4;border-radius:5px 5px 0 0;padding: 0px 10px;font-weight:bold;display: inline-block;line-height: 25px;}
.sortbox_content { background: #F2F2F2;border: 1px solid #CCC;border-radius: 0 5px 5px 5px;padding: 1em;}
.sortbox_subhead_AND { border-radius:5px 5px 0 0;background: #f5fce3;border: 2px solid #D6D6D6; border-bottom-width:0px;padding: 2px 10px; font-weight:bold;}
.box2-content_AND { background: #FFFFFF;border: #D6D6D6 2px solid;border-top-width:1px;border-radius:0 0 5px 5px;padding: 15px; position:relative;}
.sortbox_subhead_OR { border-radius:5px 5px 0 0;background: #ffe1e7;border: 2px solid #D6D6D6;border-bottom-width:0px;padding: 2px 10px; font-weight:bold;}
.box2-content_OR { background: #FFFFFF;border: #D6D6D6 2px solid;border-top-width:1px;border-radius:0 0 5px 5px;padding: 15px; position:relative;}
li.sortsubbox{border:1px #ccc solid;padding:10px;border-radius:5px;background: #FFFEDD;}
.button_OR {margin:10px auto; display:block;border-radius: 10px;width:120px;height:40px; background-color:#fee996; border:#A45B13 1px solid;}
.button_AND {margin:10px auto; display:block;border-radius: 10px;width:120px;height:40px; background-color:#DAF1A4; border:#98B954 1px solid;}
.button_OR .text{padding:5px 10px;font-size: 18px;font-weight: bold; color:#A45B13;}
.button_AND .text{padding:5px 10px;font-size: 18px;font-weight: bold; color:#456405;}
.REWARDBOX .button_AND, .REWARDBOX .button_OR {height:30px;width:80px;}

.commonBrand {
	border-bottom: 1px solid #E5E5E5;
	margin-bottom: 5px;
	padding-bottom: 2px;
}
.commonBrand select {
	margin-left: 5px;
}

.callcenter_box {
	position: absolute;
	width: 100%;
	text-align: center;
	z-index: 9;
	border-top: 1px solid #FF6D06;
	line-height: 21px;
}
.callcenter_info {
	border-radius: 0 0 5px 5px;
	border: 1px solid #FF6D06;
	padding: 3px 20px;
	border-top: none;
	margin-top: 0px;
	cursor: pointer;
	background: #FF6D06;
	color:#fff;
}
.showtime {
	width: 180px;
	line-height:26px;
	white-space: nowrap;
	border-radius: 5px;
	padding: 2px 10px;
}
.edittime {
	width: 180px;
	white-space: nowrap;
	border-radius: 5px;
	padding: 2px 10px;
}
.font_time {
	color: #FF6D06;
}


/*登录页面小图标定义*/
.ui_icon_bg {
	width: 32px;
	height: 32px;
	background: url(img/ui_icon_bg.png);
	display: inline-block;
	float: left;
    margin: .2em 0.8em 0 0;
}
.icon-contact { 
	background-position: 0px 0px;
}
.icon-customers { 
	background-position: -64px 0px;
}
.icon-statistics { 
	background-position: -128px 0px;
}
.tag{
	display:inline-block;
	border:1px solid #fad163;
	border-radius:5px;
	position:relative;
	margin:3px;
	line-height: 20px;
}
.tag_l{
	display:inline-block;
	background:#fffaad;
	padding:0 6px;
	border-radius:4px 0 0 4px;
	border-right:1px solid #fad163;
	color:#000;
}
.tag_r{
	display:inline-block;
	background:#fff;
	padding-right:25px;
	border-radius:0 4px 4px 0;
	color:#4d4d4d;
}
.icon_del{
	cursor:pointer;
	display:inline-block;
	width:16px;
	height:16px;
	background:url(img/icon_tag.png) center no-repeat;
	background-size:100% 100%;
	-webkit-background-size:100% 100%;
	-moz-background-size:100% 100%;
	-o-background-size:100% 100%;
	-ms-background-size:100% 100%;
	position:absolute;
	top:50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	right:3px;
}






