ul.ui-autocomplete {width:168px; max-height: 200px; overflow-x: hidden; overflow-y: scroll; padding:1px;} 
.ui-autocomplete
.ui-state-hover{
	background: url("images/ui-bg_gloss-wave_70_ffdd57_500x100.png") repeat-x scroll 50% 50% #FFDD57;
    border: 1px solid #A45B13;
    color: #381F00;
    font-weight: normal;
}
