.ruleSuccess {
    border-top: 1px solid #009900;
    display: block;
    padding-left: 60px;
}

.ruleSuccess 
.result-info{
    color:#FF9933; 
	font-size: 120%; 
	font-weight:bolder;
}
.test-condition
p {padding: 5px; float: none;}

.condition-title {
	background-color:#6699FF;
	margin: 0;
	padding: 0;
	display: block;
	color:#FFFFFF;
	font-weight:bolder;
}

table.test-condition, table.test-condition tr {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
}
table.test-condition td, table.test-condition th {
    border: medium none;
    vertical-align: middle;
}
table.test-condition th {
	background: #C0C0C0;
    color: #FFFFFF;
	font-weight:bolder;
    cursor: default;
    padding-right: 1em;
    text-align: right;
	border: 3px solid #FFFFFF;
}
table.test-condition td {
    white-space: normal;
}
table.test-condition tr.border td, table.test-condition tr.border th {
    border-top: 1px solid #FAD163;
    padding-top: 0.5em;
}
.cond-context {
	border: 1px solid #C0C0C0;
}
table.test-condition .context-title {
	padding-right: 30px;
}
.input{
	border: 1px solid #CCCCCC; 
	width:30px;
	height:15px;
}

.span{
	padding-right: 30px;
}

/*新增样式*/
.sortable .border {
	background-color:#FFFEDD;
	border: 1px solid #D6D6D6;
	padding:15px;
	margin:10px 5px;
}
.bg1 {
	margin:5px 0px;
}
.bg1 li {
	border-bottom:1px dashed #E5E5E5;
	line-height:25px;
}
.bg1 span {
	margin-top:5px;
}
.bg1 li.on, .bg1 li:hover {
	font-weight:bold;
	background: none repeat scroll 0 0 #FFFAAD;
	display:block;
	color:#ff6d06;
	cursor:pointer;
}
.gray {
	color:#999;
}
.box2-header .tip{
	float: left;
	margin-left: 10px;
    margin-top: 5px;
	color:#999;
}
.box2-header a{
	float: right;
    margin-top: 5px;
}
.box2-content .top-box{
	background-color: #E7E7E7;
}
.box2-content  .top-box a{
	margin-top:3px;
}
.relation{
	text-align:center;
	margin:10px 0px;
	background-color:#FFFEEA;
	border:#999999 1px dashed;
	padding:5px;
	
}
.relation label{
	font-family:'微软雅黑','黑体',arial,sans-serif;
	font-size:20px;
	font-weight:bold;
	padding-left:0.5em;
	color:#999;
}
.relation div{
	font-size:12px;
	color:#FF6D06;
	padding-left:0.5em;
}
.advanced {
    border: 1px solid #D6D6D6;
	background-color:#f8f8f8;
    height: 4px;
    margin-bottom: 15px;
    overflow: visible;
    position: relative;
	top: -1px;
}

.advanced div {
    background: url("img/advanced_bg.gif") repeat-x scroll #f8f8f8;
	border-top:1px solid #f8f8f8;
    border-left: 1px solid #D6D6D6;
    border-right: 1px solid #D6D6D6;
	border-bottom:1px solid #D6D6D6;
    height: 20px;
    line-height: 20px;
    position: absolute;
    top: 4px;
    width: 90px;
	left:43%;
}
.advanced a:link {
    position: absolute;
	left:15px;
	color:#3366FF;
	text-decoration:none;
}
.advanced a:hover {
    position: absolute;
	left:15px;
	color:#FF6D06;
	text-decoration: underline;
}
.advanced .arrow_up {
    background: url("img/arrow_up.gif") no-repeat scroll transparent;
    display: block;
    position: absolute;
    width: 5px;
	height:6px;
	right:15px;
	top:8px;
}
.advanced .arrow_down {
    background: url("img/arrow_down.gif") no-repeat scroll transparent;
    display: block;
    position: absolute;
    width: 5px;
	height:6px;
	right:15px;
	top:8px;