body { background:#eee!important; padding:0px!important; }
.crm_top { background: url(crm_img/crm_topbg.png) repeat-x; width:100%; height: 35px; color:#fff; position:fixed; top:0; left:0; padding:0 10px;z-index: 9999;}
.crm_top span { line-height:33px; display:inline-block; float:left; margin-right:30px; z-index:999; }
.crm_main { margin-top:33px; }

/*左侧菜单*/
.crm_left { float:left; width: 190px; position:relative; }
.crm_menu { padding:10px; }
.crm_menu a { background: url(crm_img/crm_leftmenu_bg.png) no-repeat; width:170px; height:24px; color:#585b5c; display:block; text-indent: 15px; line-height:24px; text-decoration:none; cursor:pointer; font-size:13px; font-weight:bold; margin-bottom:5px; }
.crm_menu a:hover, .crm_menu a.on { background: url(crm_img/crm_leftmenu_bg1.png) no-repeat; color:#ff6d06; }
.crm_menu li ul li a { color:#585b5c; line-height:24px; font-weight:normal; background: url(crm_img/crm_arrow_1.png) no-repeat 15px center; text-indent: 30px;}
.crm_menu li ul li a:hover, .crm_menu a.subon { color:#ff6d06; background: url(crm_img/crm_arrow_1a.png) no-repeat 15px center; }

/*中间展开折叠按钮*/
.crm_middle { width:10px; folat:left; margin-left:190px; position:absolute; top:35%; }
a.crm_l_arrow { background: url(crm_img/crm_left_arrow.png) no-repeat; width:10px; height:85px; display:block; }
a.crm_l_arrow:hover { background: url(crm_img/crm_left_arrow1.png) no-repeat; width:10px; height:85px; }
a.crm_l_arrow, a.crm_l_arrow_f { cursor:pointer; }

/*右侧功能区域*/
.crm_right { width:100%; float:left; margin-left:-190px; }
.crm_issue { margin-left:200px; border-left:1px #ccc solid;border-bottom:1px #d5d5d5 solid; background:#f1f1f1;}
.crm_content { margin-left:200px; border-radius:0 0 0 5px; border-left:1px #ccc solid; border-bottom:1px #ccc solid;background:#fff url(crm_img/crm_rtopbg.png) repeat-x; }
.crm_content_header { line-height:32px; color:#585b5c; white-space: nowrap; }
.panel-content { background:none!important; padding:15px!important; border:none!important; }
.icon_crmnav { background: url(crm_img/crm_nav.png) no-repeat; width:16px; height:16px; display: block; float:left; margin:8px 10px 0 15px; }
.icon_member { background:url(crm_img/member.png) no-repeat; width:16px; height:16px; display:block; float:left; margin: 8px 5px 0 0; }
.icon_memCode { background:url(crm_img/card.png) no-repeat; width:16px; height:16px; display:block; float:left; margin: 8px 5px 0 0; }
.icon_tel { background:url(crm_img/tel.png) no-repeat; width:16px; height:16px; display:block; float:left; margin: 8px 5px 0 0; }
.icon_class { background:url(crm_img/class.png) no-repeat; width:16px; height:16px; display:block; float:left; margin: 8px 5px 0 0; }
.icon_theme { background:url(crm_img/theme.png) no-repeat; width:16px; height:16px; display:block; float:left; margin: 8px 5px 0 0; }
.icon_datego { background:url(crm_img/datego.png) no-repeat; width:16px; height:16px; display:block; float:left; margin: 8px 5px 0 0; }
.crm_issue_box {background: none repeat scroll 0 0 #FFFFFF; border: 1px solid #CCCCCC; border-radius: 5px 5px 5px 5px; padding: 5px; margin:5px auto;}
.icon_arrow_b {background:url(crm_img/icon_arrow_b.png) no-repeat scroll 3px 10px; padding-left:20px; color:#3366FF; font-size:15px;cursor: pointer;float: left;}
.icon_arrow_r {background:url(crm_img/icon_arrow_r.png) no-repeat scroll 6px 8px; padding-left:20px; color:#3366FF; font-size:15px;cursor: pointer;float: left;}
.crm_issue_title {padding: 5px; font-size: 16px;color:#FF6D06; font-weight:bold;word-wrap:break-word;}
.crm_issue_action {border-bottom: 1px solid #DDDDDD;padding: 5px 10px 10px 10px;}
.crm_issue_action_focused {background:#f1f1f1;}
.crm_issue_info {width:30%; height: auto;float: left;margin-right:10px;}
.crm_issue_info_line {border-right: 1px dotted #CCCCCC;}
.crm_issue_boxmargin {padding:5px 10px;word-wrap:break-word;}
.crm_issue_info label {width:80px;color: #666;}
.crm_issue_info span {color: #000;}
.crm_issue_info_other {width:90%;}
.crm_issue_info_other label {width:100px;}



/*全屏时需替换样式*/
.crm_left_f { display:none; }
.crm_middle_f { width:10px; folat:left; margin-left:0px; position:absolute; top:35%; }
.crm_right_f { width:100%; float:left; margin-left:0px; }
.crm_content_f { margin-left:10px; border-radius:0 0 0 5px; border-left:1px #ccc solid; border-bottom:1px #ccc solid;background:#fff url(crm_img/crm_rtopbg.png) repeat-x; min-height: 500px; }
.crm_issue_f { margin-left:10px; border-left:1px #ccc solid;border-bottom:1px #d5d5d5 solid; background:#f1f1f1;}
a.crm_l_arrow_f { background: url(crm_img/crm_right_arrow.png) no-repeat; width:10px; height:85px; display:block; }
a.crm_l_arrow_f:hover { background: url(crm_img/crm_right_arrow1.png) no-repeat; width:10px; height:85px; }

.detail_box {
    background: #F3F9EB;
    border:2px solid #32b516;  
    border-radius: 5px 5px 5px 5px;padding:10px;
    /* 设置阴影 */
    -webkit-box-shadow:2px 2px 5px #bababa, -2px -2px 5px #bababa;
    -moz-box-shadow:2px 2px 5px #bababa, -2px -2px 5px #bababa;
    box-shadow:2px 2px 5px #bababa, -2px -2px 5px #bababa;
}