/*圆角边框*/
.ui-widget-content .ui-button { border:none; }
/*.ui-widget-content .ui-select{border:1px solid #ccc;}*/

.panel, .ui-tabs-panel { padding:0; border:none; background:none; }
.panel-header, .panel-content { border-left:1px solid #ccc; border-right:1px solid #ccc; }
.xtop, .xbottom { display:block; background:none; font-size:1px; }
.xb1, .xb2, .xb3, .xb4 { display:block; overflow:hidden; }
.xb1, .xb2, .xb3 { height:1px; }
.xb2, .xb3, .xb4 { border-left:1px solid #ccc; border-right:1px solid #ccc; }
.xb1 { margin:0 5px; }
.xb2 { margin:0 3px; border-width:0 2px; }
.xb3 { margin:0 2px; }
.xb4 { height:2px; margin:0 1px; }
.panel .xtop .xb2 { background:#fff; }
.panel .xtop .xb1 { border-bottom:1px solid #ccc; }
.panel .xbottom .xb1 { border-top:1px solid #ccc; }
.panel .xbottom .xb2, .panel .xbottom .xb3, .panel .xbottom .xb4 { background:#fff; }
.menu { position:relative; zoom:1; }
.menu .xtop { position:absolute; top:0; left:0; width:100%; }
.menu .xbottom { position:absolute; bottom:0; *bottom:-1px;
left:0; width:100%; }
.menu .xb1, .menu .xb2, .menu .xb3, .menu .xb4 { margin:0; }
.menu .xb1 { border-left:5px solid #F1F1F1; border-right:5px solid #F1F1F1; }
.menu .xb2 { border-left:3px solid #F1F1F1; border-right:3px solid #F1F1F1; }
.menu .xb3 { border-left:2px solid #F1F1F1; border-right:2px solid #F1F1F1; }
.menu .xb4 { border-left:1px solid #F1F1F1; border-right:1px solid #F1F1F1; }
.sidemenu a.on { position:relative; zoom:1; }
.sidemenu a.on .xtop { position:absolute; top:0; width:100%; left:0; }
.sidemenu a.on .xbottom { position:absolute; bottom:0; width:100%; left:0; }
.sidemenu a.on .xb1, .sidemenu a.on .xb2, .sidemenu a.on .xb3, .sidemenu a.on .xb4 { margin:0; background:none; }
.sidemenu a.on .xb1 { border-left:5px solid #fff; border-right:5px solid #fff; }
.sidemenu a.on .xb2 { border-left:3px solid #fff; border-right:3px solid #fff; }
.sidemenu a.on .xb3 { border-left:2px solid #fff; border-right:2px solid #fff; }
.sidemenu a.on .xb4 { border-left:1px solid #fff; border-right:1px solid #fff; }
.sidemenu a.on .xtop .xb2 { background:none; }
.sidemenu a.on .xtop .xb1 { border-bottom:none; }
.sidemenu a.on .xbottom .xb1 { border-top:none; }
.sidemenu a.on .xbottom .xb2, .sidemenu a.on .xbottom .xb3, .sidemenu a.on .xbottom .xb4 { background:none; }
/*圆角边框 按钮*/
.ui-button-text-icon-primary, .ui-button-text-icon-secondary, .ui-widget .ui-button-text-icon-primary, .ui-widget .ui-button-text-icon-secondary, .ui-button-text-only, .ui-widget .ui-button-text-only, .ui-button-icon-only, .ui-widget .ui-button-icon-only { border:none; background:url(images/bg-button.gif) left -51px no-repeat; padding-left:4px; *height:21px;
}
.ui-button-text-icon-primary .ui-button-text, .ui-button-text-icon-secondary .ui-button-text, .ui-button-text-only .ui-button-text, .ui-button-icon-only .ui-button-text { background:url(images/bg-button.gif) right top no-repeat; }
button.ui-button-text-icon-primary, .ui-widget button.ui-button-text-icon-primary { border:none; background:url(images/bg-button.gif) left -196px no-repeat; padding-left:4px; *height:26px;
}
button.ui-button-text-icon-primary .ui-button-text, .ui-widget button.ui-button-text-icon-primary .ui-button-text { border:none; background:url(images/bg-button.gif) right -160px no-repeat; padding-top:.2em; padding-bottom:.2em; }
span.ui-button-icon-only, .ui-widget span.ui-button-icon-only { border:none; background:url(images/bg-button.gif) left -29px no-repeat; height:13px; }
span.ui-button-icon-only .ui-button-text, .ui-widget span.ui-button-icon-only .ui-button-text { background:none; padding:0; }
.ui-state-hover, .ui-dialog button.ui-state-hover { border:none; /*background:url(images/bg-button.gif) left -131px no-repeat;*/ background:url(images/bg-button.gif) left -51px no-repeat; }
.ui-state-hover .ui-button-text, .ui-dialog button.ui-state-hover .ui-button-text { /*background:url(images/bg-button.gif) right -80px no-repeat;*/ background:url(images/bg-button.gif) right top no-repeat; }
button.ui-state-hover { border:none; /*background:url(images/bg-button.gif) left -268px no-repeat;*/ background:url(images/bg-button.gif) left -196px no-repeat; }
button.ui-state-hover .ui-button-text { /*background:url(images/bg-button.gif) right -232px no-repeat;*/ background:url(images/bg-button.gif) right -160px no-repeat; }
span.ui-state-hover { background:url(images/bg-button.gif) left -109px no-repeat; }
span.ui-state-hover .ui-button-text { background:none; }
.ui-state-active { border:none; }
/*this makes me puke*/
a.add, a.delete, a.import, a.export, a.setting, a.price, a.edit, a.authority, a.ui-select, a.search, a.enable, a.disable, button.ui-button { border:none; background:url(images/bg-button.gif) left -51px no-repeat; padding-left:4px; height:21px; }
/*a.ui-select{background:url(images/bg-button2.gif) left top no-repeat;}*/
a.add .button-text, a.delete .button-text, a.import .button-text, a.export .button-text, a.setting .button-text, a.price .button-text, a.edit .button-text, a.authority .button-text, a.enable .button-text, a.disable .button-text, a.ui-select .button-text,  a.search .button-text, button.ui-button .ui-button-text { background:url(images/bg-button.gif) right top no-repeat; line-height:21px; height:21px; }
/*a.ui-select .button-text{background:url(images/bg-button2.gif) right -21px no-repeat;}*/
button.ui-button .ui-button-text { white-space:nowrap; }
a.add-sorting-desc, a.add-sorting-asc, a.mover, a.movel, a.add-big, a.delete-big, a.refresh, a.gobutton, button.plain { background:url(images/bg-button.gif) right -24px no-repeat; border:0; height:21px; width:30px; }
button.save, button.delete, button.edit, button.confirm, button.back, button.close, button.search, button.logon { border:none; background:url(images/bg-button.gif) left -196px no-repeat; padding-left:4px; *height:26px;
}
button.save .button-text, button.delete .button-text, button.edit .button-text, button.confirm .button-text, button.back .button-text, button.close .button-text, button.search .button-text, button.logon .button-text { border:none; background:url(images/bg-button.gif) right -160px no-repeat; line-height:26px; display:block; white-space:nowrap; }
span.close, span.delete, span.expand, span.add, span.popup, span.refresh { border:none; background:url(images/bg-button.gif) left -29px no-repeat; height:13px; width:13px; }
/*hover*/
a.add:hover, a.delete:hover, a.import:hover, a.export:hover, a.setting:hover, a.price:hover, a.edit:hover, a.authority:hover, a.ui-select:hover, a.search:hover, a.enable:hover, a.disable:hover, button.ui-button:hover, a.hover { border:none; background:url(images/bg-button.gif) left -131px no-repeat; }
/*a.ui-select:hover{background:url(images/bg-button2.gif) left -42px no-repeat;}*/
a.add:hover .button-text, a.delete:hover .button-text, a.import:hover .button-text, a.export:hover .button-text, a.setting:hover .button-text, a.price:hover .button-text, a.edit:hover .button-text, a.authority:hover .button-text, a.ui-select:hover .button-text, a.search:hover .button-text, a.enable:hover .button-text, a.disable:hover .button-text, button.ui-button:hover .ui-button-text, a.hover .button-text { background:url(images/bg-button.gif) right -80px no-repeat; }
/*a.ui-select:hover .button-text{background:url(images/bg-button2.gif) right -63px no-repeat;}*/
a.add-sorting-desc:hover, a.add-sorting-asc:hover, a.mover:hover, a.movel:hover, a.add-big:hover, a.delete-big:hover, a.refresh:hover, a.gobutton:hover, button.plain:hover, a.hover2, button.hover2 { background:url(images/bg-button.gif) right -104px no-repeat; border:none; }
button.save:hover, button.delete:hover, button.edit:hover, button.confirm:hover, button.back:hover, button.close:hover, button.search:hover, button.logon:hover, button.hover { background:url(images/bg-button.gif) left -268px no-repeat; border:none; }
button.save:hover .button-text, button.delete:hover .button-text, button.edit:hover .button-text, button.confirm:hover .button-text, button.back:hover .button-text, button.close:hover .button-text, button.search:hover .button-text, button.logon:hover .button-text, button.hover .button-text { background:url(images/bg-button.gif) right -232px no-repeat; }
span.close:hover, span.delete:hover, span.expand:hover, span.add:hover, span.popup:hover, span.refresh:hover, span.hover { background:url(images/bg-button.gif) left -109px no-repeat; border:none; }
/*this makes me puke*/
a.ui-state-disabled, span.ui-state-disabled, button.ui-state-disabled, a.ui-state-disabled:hover, span.ui-state-disabled:hover, button.ui-state-disabled:hover { filter:progid:DXImageTransform.Microsoft.BasicImage(grayscale=1) alpha(opacity=55);
}
