
.icon_crmnav {
	background: url(crm_img/crm_nav.png) no-repeat;
	width: 16px;
	height: 16px;
	display: block;
	float: left;
	margin: 2px 10px 0 5px;
}
.icon_member {
	background: url(crm_img/member.png) no-repeat;
	width: 16px;
	height: 16px;
	display: block;
	float: left;
	margin: 8px 5px 0 0;
}
.icon_state {
	background: url(crm_img/state.png) no-repeat;
	width: 16px;
	height: 16px;
	display: block;
	float: left;
	margin: 8px 5px 0 0;
}
.icon_order {
	background: url(crm_img/order.png) no-repeat;
	width: 16px;
	height: 16px;
	display: block;
	float: left;
	margin: 8px 5px 0 0;
}
.wp_search {
	background: url(crm_img/search.png) no-repeat;
	width: 16px;
	height: 16px;
	display: inline-block;
	vertical-align:middle;
	cursor:pointer;
}
button.wp_search,button.wp_minus,button.wp_plus,button.wp_del {
	border:none;
}
.wp_minus {
	background: url(crm_img/minus_b.png) no-repeat;
	width: 24px;
	height: 24px;
	display: inline-block;
	vertical-align:middle;
	cursor:pointer;
}
.wp_plus {
	background: url(crm_img/plus_b.png) no-repeat;
	width: 24px;
	height: 24px;
	display: inline-block;
	vertical-align:middle;
	cursor:pointer;
}
.wp_del {
	background: url(crm_img/del_b.png) no-repeat;
	width: 24px;
	height: 24px;
	display: inline-block;
	vertical-align:middle;
	cursor:pointer;
}
button.wp_search_s .icon_search {
	position: absolute;
	top: 50%;
	left:5px;
	margin-top: -6px;
	width: 12px;
	height: 12px;
	background: url(crm_img/search_s.png) no-repeat;
}



/*Сͼ����ʽ*/


/**/
button.btn_top,.btn_top_selected,.btn_top_disable  {
	border-radius: 5px;
	border:1px solid #7D8791;
	color: #333;
	display: inline-block;
	padding: 0 .5em;
	margin:1em .5em;
	text-decoration: none !important;
	cursor: pointer;
	text-align: center;
	overflow: visible;
	vertical-align: middle;
	font-weight: bold;
	font-size: 14px;
	height:30px;
	width:140px;
	
	background-image: -moz-linear-gradient(top, #fcfcfc, #ebebeb); /* Firefox */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fcfcfc), color-stop(1, #ebebeb)); /* Saf4+, Chrome */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfc', endColorstr='#ebebeb', GradientType='0'); /* IE*/
}
button.btn_top:hover,button.wp_search_s:hover,.btn_top_selected {
	color: #FF6D06;
	border:1px solid #a45b13;
	background-image: -moz-linear-gradient(top, #fee891, #fee16f); /* Firefox */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fee891), color-stop(1, #fee16f)); /* Saf4+, Chrome */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fee891', endColorstr='#fee16f', GradientType='0'); /* IE*/
}
.btn_top_disable {
	color: #ccc;
	border:1px solid #ccc;
	font-weight: normal;
	cursor: default;
}
button.wp_search_s {
	border-radius: 5px;
	border:1px solid #7D8791;
	color: #333;
	display: block;
	padding: 0 .5em;
	cursor: pointer;
	text-align: center;
	overflow: visible;
	vertical-align: middle;
	font-weight: normal;
	font-size: 12px;
	height:21px;
	position:relative;
	
	background-image: -moz-linear-gradient(top, #fcfcfc, #ebebeb); /* Firefox */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fcfcfc), color-stop(1, #ebebeb)); /* Saf4+, Chrome */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfc', endColorstr='#ebebeb', GradientType='0'); /* IE*/
}
button.wp_search_s .wp_search_text {
	padding: .1em .3em .1em 1.5em;
	display: block;
	line-height: 1.4;
	color: #333;
}





/**/


.crm_top {
	background-image: -moz-linear-gradient(top, #e6e6e6, #fefefe); /* Firefox */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #e6e6e6), color-stop(1, #fefefe)); /* Saf4+, Chrome */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e6e6e6', endColorstr='#fefefe', GradientType='0'); /* IE*/
	border-bottom: 2px solid #FF6D06;
	height: 32px;
	color: #333;
	padding: 0 10px;
}
.top_detail {
	color: #FF6D06;
}
.top_detail2 {
	color: #FF6D06;
	font-weight:normal;
}
.top_detail_b {
	color: #FF6D06;
	font-weight: bold;
}
.crm_top div {
	line-height: 32px;
	display: inline-block;
	float: left;
	margin-right: 30px;
	z-index: 999;
}


.wp_navbuttonbox {
	text-align:center;
	background:#fffde5;
	white-space: nowrap;
}



.wp_main {
	background:#fff;
	border-top:1px solid #eee;
}
.wp_left {
	width: 100%;
	float: left;
	margin-right: -250px;
}
.wp_bottom {
	width: 100%;
	float: left;
	margin-right: -250px;
	position:absolute;
	left:0;
	bottom:0;
}
.wp_bottom2 {
	width: 100%;
	float: left;
	margin-right: -250px;
	position:relative;
	left:0;
	bottom:0;
}
.wp_content {
	margin-right: 250px;
	min-height:500px;
}
.wp_content_b {
	margin-right: 250px;
}

.wp_leftbox {
	padding:1em .5em 1em 1em;
}
.wp_right {
	width: 240px;
	float: right;
	min-height:500px;
}
.wp_rightbox {
	padding:0 1em 0 0;
}
.wp_title {
	font-weight:bold;
	font-size:14px;
	margin:0 0 0 .5em;
}
.promotion {
	max-height:470px;
	overflow-y:auto;
}
.promotion li {
	border-bottom:1px solid #eee;
}
.promotion li p {
	margin:.5em 0;
	position:relative;
	color:#FF6D06;
	padding:0 0 0 30px;
}
.promotion li p .wp_checkbox {
	position:absolute;
	left:0;
}
.promotion li p .date {
	color:#666;
	font-size:13px;
}
.wpleft_header {
	font-size:12px;
	font-weight:bold;
	line-height:1.5;
	border-bottom:1px solid #eee;
	white-space: nowrap;
}
.header_box {
	margin:0 1em 0 0;
	padding:0 0 .5em 0;
	display:inline-block;
}
.header_box select {
	font-size:120%;
}
.numberbox {
	margin:0 1em 0 0;
	padding:0 .5em;
	display:inline-block;
	background:#FFFAAD;
	color:#333;
	border-radius:5px;
	line-height: 24px;
}
.numberbox span {
	color:#FF6D06;
	font-size: 24px;
	line-height: 26px;
	vertical-align: -4px;
}
.wp_tablebox {
	width:100%;
	margin:.5em 0 0 0;
}
.wp_tablebox_b {
	width:100%;
	margin:.5em 0 0 0;
}

.wp_table {
	table-layout: fixed;
}
.wp_table td {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: clip;
	margin:0 0 1em 0;
	height:35px;
	line-height:35px;
}
.but_delbox {
	width: 100%;
	display: block;
	text-align: center;
}
.wp_detail {
}
.wp_detail,wp_detail_s {
	width: 100%;
	margin:.5em 0 0 0;
}
.wp_detail th,.wp_detail_s th {
	background: #F9F9F9;
	width:16%;
	text-align:right;
	color: #333;
	cursor:default;
}
.wp_detail td,.wp_detail_s td {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: clip;
	height:30px;
	line-height:30px;
	width:16%;
	color: #FF6D06;
}
.wp_detail_s th {
	width:35%;
}
.wp_detail_s td {
	width:65%;
	height:35px;
	line-height:35px;
	font-size:14px;
}
.wp_detail_s  .numberbox {
	line-height:23px;
}
input.wp_input1,input.wp_input2 {
	background-color: white;
	border: 1px solid #CCC;
	color:#FF6D06;
	height:19px;
	line-height:19px;
	width:150px;
	font-size:14px;
}
input.wp_input2 {
	width:50px;
}

tr.red td {
	color:#F00;
}
.bottom_butbox {
	margin:2em 0;
	text-align:center;
}
.td_detailbox {
	width:100%;
	height:100px;
	line-height:100px;
	font-size:17px;
	text-align:center;
	color:#FF6D06;
	background:#FFFDE5;
}
button.disabled {
	background-image: -moz-linear-gradient(top, #fcfcfc, #ebebeb); /* Firefox */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fcfcfc), color-stop(1, #ebebeb)); /* Saf4+, Chrome */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfc', endColorstr='#ebebeb', GradientType='0'); /* IE*/
    border: 1px solid #7d8791;
    color: #999;
}
button.disabled:hover {
	background-image: -moz-linear-gradient(top, #fcfcfc, #ebebeb); /* Firefox */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fcfcfc), color-stop(1, #ebebeb)); /* Saf4+, Chrome */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfc', endColorstr='#ebebeb', GradientType='0'); /* IE*/
    border: 1px solid #7d8791;
    color: #999;
}
.webpos_installbox {
	display: block;
	margin:100px auto 0 auto; 
	width: 500px; 
	min-height: 200px;
	background: #FFFDE5;
	border:1px solid #ccc;
}
.text.t_c {
	text-align:center;
}
.text.t_r {
	text-align:right;
}
tr.prompt_bg0 td {
	background:#e3ffe1;
}