<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
    <listener>
    <listener-class>com.cherry.cm.core.WebConfigListener</listener-class>
  </listener>
  <context-param>
    <param-name>cherryconf</param-name>
    <!-- <param-value>/WEB-INF/classes/properties/CherryBatch.properties</param-value> -->
    <param-value>properties/CherryBatch.properties</param-value>
  </context-param>

    <listener>
        <listener-class>com.dianping.cat.servlet.CatListener</listener-class>
    </listener>

    <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <display-name>CherryBatch</display-name>

    <filter>
        <filter-name>cat-filter</filter-name>
        <filter-class>com.dianping.cat.servlet.CatFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>cat-filter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
  <filter>
    <filter-name>CherryCustomDataSource</filter-name>
    <filter-class>com.cherry.cm.core.CustomerSessionFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CherryCustomDataSource</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>struts2</filter-name>
    <filter-class>com.cherry.cm.core.CherryFilterDispatcher</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>struts2</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath:spring-conf/applicationContext.xml
        classpath:spring-conf/beans-define/beans-*.xml
        classpath:config/spring/common/appcontext-ds-monitor.xml
		</param-value>
  </context-param>
  <context-param>
    <param-name>log4jRefreshInterval</param-name>
    <param-value>60000</param-value>
  </context-param>
    <servlet>
 	<servlet-name>CherryBatchSecretServlet</servlet-name>
	<servlet-class>com.cherry.cm.core.CherryBatchSecretServlet</servlet-class>
	<load-on-startup>1</load-on-startup>
 </servlet>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <error-page>
    <error-code>404</error-code>
    <location>/WEB-INF/jsp/common/error.jsp</location>
  </error-page>
  
    <servlet>
        <servlet-name>JerseyServlet</servlet-name>
        <servlet-class>com.sun.jersey.spi.spring.container.servlet.SpringServlet</servlet-class>
    </servlet>  
    <servlet-mapping>
        <servlet-name>JerseyServlet</servlet-name>
        <url-pattern>/webservice/*</url-pattern>
    </servlet-mapping>
  
</web-app>