.menu { width:100%; min-width:980px; }
.menu ul { padding:0 25px; }
.menu li { list-style:none; display:block; line-height:27px; height:27px; float:left; text-align:center; font-weight:bold; }
.menu ul.ui-widget-header {  border:none;background: #176223 ; color: #66a137; font-weight: bold; }
.menu li.on {background: none;}
.menu ul.ui-widget-header a { color: #66a137;padding:0 15px; display:block; line-height:27px; height:27px;  }
.menu ul.ui-widget-header a:hover { color: #dfe21e;text-decoration: none;background:url(images/menu_fldybg.png) no-repeat center bottom;display:block; }
.menu ul.ui-widget-header li.on a {color: #dfe21e;display:block;background:url(images/menu_fldybg.png) no-repeat center bottom;min-width:40px;}
.menu ul.ui-widget-header li.on a:hover { color: #dfe21e;text-decoration: none;background:url(images/menu_fldybg.png) no-repeat center bottom; }
.top_logo {background:url(images/logo_fldy.png) no-repeat 0 0; width:48px;height:44px; float:right; display:block; margin:0 .5em .5em 0}