@charset "utf-8";
table.full{
    width: 100%;
}
table.mTitleTable{
    border-collapse: separate;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    background-color: #ccccff;
    width: 100%;
}

.collapsed {
	display: none;
	background-attachment: scroll;
	background-repeat: repeat;
	margin-top: 0px;
	margin-right: 3px;
	margin-bottom: 0px;
	margin-left: 3px;
	padding-top: 0px;
	padding-right: 1px;
	padding-bottom: 0px;
	padding-left: 1px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #666666;
	border-left-color: #666666;
} 