<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<jmxConfigurator />
	<property resource="conf/properties/cherry.properties"/>
	
	<!-- appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
   			 <pattern>
   			 	%date{yyyy/MM/dd HH:mm:ss} [%thread] %-5level %logger{80} - %msg%n
   			 </pattern>
			 <charset>UTF-8</charset>
  		</encoder>
	</appender-->
	
	<appender name="logInfoFile"
		  class="ch.qos.logback.core.rolling.RollingFileAppender">
		  <filter class="ch.qos.logback.classic.filter.LevelFilter"> 
		 	<level>ERROR</level> 
			<onMatch>DENY</onMatch> 
			<onMismatch>ACCEPT</onMismatch> 
		</filter>
		  <rollingPolicy
		   class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
		   <FileNamePattern>
		    E:/CherryLogs/%d{yyyy-MM-dd}_INFO.log
		   </FileNamePattern>
		  </rollingPolicy>
		  <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
   			 <pattern>
   			 	%date{yyyy/MM/dd HH:mm:ss} [%thread] %-5level %logger{80} - %msg%n
   			 </pattern>
			 <charset>UTF-8</charset>
  		  </encoder>
		 </appender>
		 
		 <appender name="catAppender"
		  class="com.cherry.monitor.CatLogbackAppender">
		  <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
   			 <pattern>
   			 	%date{yyyy/MM/dd HH:mm:ss} [%thread] %-5level %logger{80} - %msg%n
   			 </pattern>
			 <charset>UTF-8</charset>
  		  </encoder>
		  
		 </appender>
		 
		 <appender name="logErrorFile"
		  class="ch.qos.logback.core.rolling.RollingFileAppender">
		  <filter class="ch.qos.logback.classic.filter.LevelFilter"> 
		 	<level>ERROR</level> 
			<onMatch>ACCEPT</onMatch> 
			<onMismatch>DENY</onMismatch> 
		</filter>
		  <rollingPolicy
		   class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
		   <FileNamePattern>
		    E:/CherryLogs/%d{yyyy-MM-dd}_ERROR.log
		   </FileNamePattern>
		  </rollingPolicy>
		  <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
   			 <pattern>
   			 	%date{yyyy/MM/dd HH:mm:ss} [%thread] %-5level %logger{80} - %msg%n
   			 </pattern>
			 <charset>UTF-8</charset>
  		  </encoder>
		 </appender>
		 
		 <appender name="logRuleInfoFile"
		  class="ch.qos.logback.core.rolling.RollingFileAppender">
		  <filter class="ch.qos.logback.classic.filter.LevelFilter"> 
		 	<level>ERROR</level> 
			<onMatch>DENY</onMatch> 
			<onMismatch>ACCEPT</onMismatch> 
		</filter>
		  <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
		  	<charset>UTF-8</charset>
		  	<layout class="ch.qos.logback.classic.html.HTMLLayout">
		        <pattern>%date%thread%level%logger%msg</pattern>
		        <title>Rule matching results</title>
		     </layout>
  		  </encoder>
  		   <rollingPolicy
		   class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
		   <FileNamePattern>
		    ${ruleLogs.destination}/%d{yyyy-MM-dd}_RULEINFO.html
		   </FileNamePattern>
		  </rollingPolicy>
		 </appender>
		 
		 <appender name="logMQInfoFile"
		  class="ch.qos.logback.core.rolling.RollingFileAppender">
		  <filter class="ch.qos.logback.classic.filter.LevelFilter"> 
		 	<level>ERROR</level> 
			<onMatch>DENY</onMatch> 
			<onMismatch>ACCEPT</onMismatch> 
		</filter>
		  <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
		  	<charset>UTF-8</charset>
		  	<layout class="ch.qos.logback.classic.html.HTMLLayout">
		        <pattern>%date%thread%level%logger%msg</pattern>
		        <title>MQ LOG</title>
		     </layout>
  		  </encoder>
  		   <rollingPolicy
		   class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
		   <FileNamePattern>
		    ${ruleLogs.destination}/%d{yyyy-MM-dd}_MQINFO.html
		   </FileNamePattern>
		  </rollingPolicy>
		 </appender>
		 
	<logger name="com.cherry" additivity="false">
		<level value="INFO" />
		<appender-ref ref="logInfoFile" />
		<appender-ref ref="logErrorFile" />
		<appender-ref ref="catAppender" />
	</logger>
	<logger name="com.cherry.cm.cache" additivity="false">
		<level value="ERROR" />
		<appender-ref ref="logInfoFile" />
		<appender-ref ref="logErrorFile" />
	</logger>
	<logger name="com.cherry.dr" additivity="false">
		<level value="INFO" />
		<appender-ref ref="logRuleInfoFile" />
	</logger>
	<logger name="com.cherry.cm.cmbussiness.bl.BINOLCM98_BL" additivity="false">
		<level value="INFO" />
		<appender-ref ref="logMQInfoFile" />
	</logger>
	<logger name="org.hibernate" additivity="false">
		<level value="WARN" />
		<appender-ref ref="logInfoFile" />
		<appender-ref ref="logErrorFile" />
	</logger>
	<logger name="java.sql" additivity="false">
		<level value="ERROR" />
		<appender-ref ref="logErrorFile" />
		<appender-ref ref="logInfoFile" />
	</logger>
	<logger name="org.apache.struts2" additivity="false">
		<level value="ERROR" />
		<appender-ref ref="logInfoFile" />
		<appender-ref ref="logErrorFile" />
	</logger>
	<logger name="com.opensymphony.xwork2" additivity="false">
		<level value="ERROR" />
		<appender-ref ref="logInfoFile" />
		<appender-ref ref="logErrorFile" />
	</logger>
	<logger name="com.opensymphony.xwork2.ognl.OgnlValueStack" additivity="false">
		<level value="ERROR" />
		<appender-ref ref="logInfoFile" />
		<appender-ref ref="logErrorFile" />
	</logger>
	<logger name="com.opensymphony.xwork2.interceptor.ExceptionMappingInterceptor" additivity="false">
		<level value="ERROR" />
		<appender-ref ref="logInfoFile" />
		<appender-ref ref="logErrorFile" />
	</logger>
	<logger name="freemarker" additivity="false">
		<level value="ERROR" />
		<appender-ref ref="logInfoFile" />
		<appender-ref ref="logErrorFile" />
	</logger>
	<logger name="com.opensymphony.workflow" additivity="false">
		<level value="ERROR" />
		<appender-ref ref="logInfoFile" />
		<appender-ref ref="logErrorFile" />
	</logger>
	<logger name="org.logicalcobwebs.proxool" additivity="false">
		<level value="ERROR" />
		<appender-ref ref="logInfoFile" />
		<appender-ref ref="logErrorFile" />
	</logger>
		<logger name="com.cherry.cm.core.CherryFilterDispatcher" additivity="false">
		<level value="ERROR" />
	</logger>
	<logger name="org.atmosphere.cpr" additivity="false">
		<level value="ERROR" />
	</logger>
	<root>
		<level value="INFO" />
		<appender-ref ref="logInfoFile" />
		<appender-ref ref="logErrorFile" />
		<appender-ref ref="catAppender" />
	</root>
</configuration>

