

.text-number{
	border-collapse:collapse;
	border-style:1 1 solid;	
	text-indent:10px;
	white-space:nowrap;
	size:5;
	size:5;
	text-align:right;
}
.tableheader{
	background:url("img/bg_sorting.gif") repeat-x scroll 0 0 transparent;
	border-bottom:1px solid #FAD163;
	border-right:1px solid #FAD163;
	border-color:-moz-use-text-color #D6D6D6 #CCCCCC #FFFFFF;
	border-left:1px solid #FFFFFF;
	border-style:none solid solid;
	border-width:medium 1px 1px;
	height:20px;
	padding:2px 5px;
	white-space:nowrap;
	text-align:center;
}
.errTRbgColor{
	background:#FFECEC
}
/**操作成功的DIV使用的样式*/
.actionSuccess{
	background:url("img/success.png") no-repeat scroll 6px center #E1F29B;
	border-bottom:2px solid #009900;
	border-top:2px solid #009900;
	padding-left:46px;
	display:block;
	color:#009900;
}
.actionSuccess ul {
	border-left:1px solid #009900; 
	padding: 10px; 
	list-style:none; 
	text-align:left;
}
.actionError{
	background:url("img/error.png") no-repeat scroll 6px center #FFECEC;
	border-bottom:2px solid #E83131;
	border-top:2px solid #E83131;
	padding-left:46px;
	display:block;
	color:#E83131;
}
.actionError ul {
	border-left:1px solid #E83131; 
	padding: 10px; 
	list-style:none; 
	text-align:left;
}
.cherrylablL{
	color:#333333;
	display:inline-block;
	margin-right:5px;
	vertical-align:middle;
	text-align:left;
}

.div-layout-all {
	height: 700px; background: none repeat scroll 0 0 #FFFFFF \9; border-left: 1px solid #CCCCCC \9; border-right: 1px solid #CCCCCC \9;
}
.ui-layout-resizer {
	background-color: #D5D5D5;
}
.ui-layout-toggler {
	background-color: #AAAAAA;
}
.ui-layout-west {
	overflow: auto;
	padding: 10px;
}
.ui-layout-center {
	overflow: auto;
	padding: 10px;
}
.sorted-asc,
.sorted-desc {
	background: url("img/bg_sorting.gif") repeat-x scroll 0 0 transparent;
    border-bottom: 1px solid #FAD163;
    border-right: 1px solid #FAD163
}
.alignRight{
	text-align:right;
}

#reportTableDiv {overflow: auto;}
#reportTable th.red { background:#FFE5E5 url(images/bg_table_red.gif) bottom repeat-x; border-bottom:1px solid #FF9999; border-right:1px solid #FF9999; }
#reportTable th.green { background:#EBF5CC url(images/bg_table_green.gif) bottom repeat-x; border-bottom:1px solid #7FCC7F; border-right:1px solid #7FCC7F; }
#reportTable th.blue { background:#DFEFFF; border-bottom:1px solid #6CF; border-right:1px solid #6CF; }
#reportTable th.yellow{background:#FFF7D7; border-bottom:1px solid #FAD163; border-right:1px solid #FAD163;}
#reportTable td.red{background:#FFF5F5; border-bottom:1px solid #FF9999; border-right:1px solid #FF9999;}
#reportTable td.green{background:#F6FAE8; border-bottom:1px solid #7FCC7F; border-right:1px solid #7FCC7F;}
#reportTable td.blue{background:#E9F4FF; border-bottom:1px solid #6CF; border-right:1px solid #6CF;}
#reportTable td.yellow{background:#FFF7D7; border-bottom:1px solid #FAD163; border-right:1px solid #FAD163;}
#reportTable .red {color:#333333;font-weight:normal;}
#reportTable .green {color:#333333;font-weight:normal;}
#reportTable .blue {color:#333333;font-weight:normal;}
#reportTable tr.odd {background-color:#F5FAFF;}
#reportTable tr.even {background-color:#ECEFF4;}
#reportTable th {cursor:default;}
span.layout_checkbox1{color:#666666;cursor: pointer;}
span.layout_checkbox2{color:#000000;border: 1px solid #FF9999;cursor: pointer;}
ul.actionMessage span span{font-weight :bolder; margin: 0 3px 0 3px;}
ul.tips{list-style-type:disc;}
ul.tips li{margin: 5px 0;}
ul.tips span{font-weight :bolder; margin: 0 3px 0 3px; color:#009900;}
textarea{resize:none}
